---
layout: layouts/base.njk
---
<article class="page">
  <header class="page-header">
    <h1 class="page-title">{{ title }}</h1>
    {% if description %}
      <p class="page-description">{{ description }}</p>
    {% endif %}
  </header>
  <div class="prose">
    {{ content | safe }}
  </div>
</article>
